.DS_Store/
.idea/
tiny-imagenet-200/
__pycache__/
triplet.csv 
embedding.txt                                                                                                                              
deepranknet.model
Icon?


