.DS_Store/
.DS_Store
.idea/
tiny-imagenet-200/
patent_image/
__pycache__/
triplet.csv 
embedding.txt                                                                                                                              
deeprank.pt
Icon?
sample.jpeg
triplet_check_point.pickle

